{% extends "base.html" %}
{% load static %}
{% block start %}

<div class="content-body">
    <!-- row -->
	<div class="container-fluid">
		<div class="row">
			<div class="main-div">
				<div class="breadcrumb-wrapper breadcrumb-contacts" style="display: flex; justify-content: space-between;">
			        <div>
					    <h1>Puresaas Renewal List</h1>
				    </div>
				    <div>
			            <!--<a href="#" type="button" class="btn btn-primary right-sidebar-in content-sidebar-menu">-->
               <!--             <i class="bi bi-person-fill" style="font-size: 1rem;"></i> Add Client-->
               <!--         </a>-->
                        <a type="button" class="btn btn-primary right-sidebar-in content-sidebar-menu">
                            <i class="bi bi-funnel-fill"></i> Filter
			      	    </a>
			        </div>
		        </div>
			</div>
		</div>
		<div class="col-xl-12 active-p">
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-colm" role="tabpanel" aria-labelledby="pills-colm-tab">
					<div class="card">
						<div class="card-body px-0">
						    <div class="table-responsive active-projects user-tbl  dt-filter">
							<table id="user-tbl" class="display table">
								<thead>
									<tr>
                                        <th>No.</th>
                                        <th>Full Name</th>
                                        <th>Mobile No.</th>
                                        <th>Package</th>
                                        <th>Plan Start Date</th>
                                        <th>Plan End Date</th>
                                        <th>Action</th>
                                    </tr>
								</thead>
								<tbody>
								   {% for i in puresaas_data %}
                                    <tr>
                                        <td>{{i.order.id}}</td>
                                        <td>{{i.user.username}}</td>
                                        <td>{{i.user.contact_number}}</td>
                                        <td>{{ i.order.plan_details.title }}</td>
                                        <td>{{i.order.start_date|date:'d-m-Y'}}</td>
                                        <td>{{i.order.end_date|date:'d-m-Y'}}</td>
          <!--                              <td>-->
										<!--	<div class="dropdown">-->
										<!--		<div class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">-->
										<!--			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
										<!--				<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>-->
										<!--				<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>-->
										<!--				<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>-->
										<!--			</svg>-->
										<!--		</div>-->
										<!--		<div class="dropdown-menu dropdown-menu-right" style="">-->
										<!--			<a class="dropdown-item" href="{% url 'pure_view' i.order.id %}">View</a>-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</td>-->
										 <td>
                                                          <div class="d-flex flex-wrap gap-1 justify-content-end">
                                                            
                                                        
                                                                <!-- View button (eye icon) -->
                                                                <a href="{% url 'pure_view' i.order.id %}"
                                                                   class="btn btn-info btn-xs shadow" title="View">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                              
                                                            </div>
                                                        </td>

                                    </tr>
                                    {% endfor %}
								</tbody>
							</table>
						    </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}