{% extends "base.html" %}
{% load static %}
{% block start %}
<!--search select style start -->
<style>

.input-group{
    flex-wrap:nowrap;
}
@media(max-width:34em){
  .main{
    min-width:150px;
    width:auto;
  }
}
select {
    display: none !important;
}

.dropdown-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #eee;
    /*box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);*/ 
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;

}

.dropdown-select:focus {
    background-color: #fff;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.open {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dropdown-select.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    width: 100%;
}

.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #ddd;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.dropdown-select .dd-search{
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0.5rem;
}

.dropdown-select .dd-searchbox{
  width:100%;
  height:40px;
  padding:0.5rem;
  border:1px solid #999;
  border-color:#999;
  border-radius:4px;
  outline:none;
}
.dropdown-select .dd-searchbox:focus{
  border-color:#222b40;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
}

.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}

.dropdown-select .option.selected {
    font-weight: 600;
    color: #222b40;
}

.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}

.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #666;
}
</style>
<!--search select style end -->
<div class="content-body">
    <!-- row -->
	<div class="container-fluid">
		<div class="row">
			<div class="main-div">
				<div class="breadcrumb-wrapper breadcrumb-contacts" style="display: flex; justify-content: space-between;">
			        <div>
					    <h1>Puresaas Renewal List</h1>
				    </div>
				    <div>
			            <!--<a href="#" type="button" class="btn btn-primary right-sidebar-in content-sidebar-menu">-->
               <!--             <i class="bi bi-person-fill" style="font-size: 1rem;"></i> Add Client-->
               <!--         </a>-->
                        <a type="button" class="btn btn-primary right-sidebar-in content-sidebar-menu">
                            <i class="bi bi-funnel-fill"></i> Filter
			      	    </a>
			        </div>
		        </div>
			</div>
		</div>
		<div class="col-xl-12 active-p">
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-colm" role="tabpanel" aria-labelledby="pills-colm-tab">
					<div class="card">
						<div class="card-body px-0">
						    <div class="table-responsive active-projects user-tbl  dt-filter">
							<table id="user-tbl" class="display table">
								<thead>
									<tr>
                                        <th>No.</th>
                                        <th>Full Name</th>
                                        <th>Mobile No.</th>
                                        <th>Package</th>
                                        <th>Plan Start Date</th>
                                        <th>Plan End Date</th>
                                        <th>Action</th>
                                    </tr>
								</thead>
								<tbody>
								   {% for i in puresaas_data %}
                                    <tr>
                                        <td>{{i.order.id}}</td>
                                        <td>{{i.user.username}}</td>
                                        <td>{{i.user.contact_number}}</td>
                                        <td>{{ i.order.plan_details.title }}</td>
                                        <td>{{i.order.start_date|date:'d-m-Y'}}</td>
                                        <td>{{i.order.end_date|date:'d-m-Y'}}</td>
          <!--                              <td>-->
										<!--	<div class="dropdown">-->
										<!--		<div class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">-->
										<!--			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
										<!--				<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>-->
										<!--				<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>-->
										<!--				<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>-->
										<!--			</svg>-->
										<!--		</div>-->
										<!--		<div class="dropdown-menu dropdown-menu-right" style="">-->
										<!--			<a class="dropdown-item" href="{% url 'pure_view' i.order.id %}">View</a>-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</td>-->
										 <!--<td>-->
           <!--                                               <div class="d-flex flex-wrap gap-1 justify-content-end">-->
                                                            
                                                        
                                                                <!-- View button (eye icon) -->
           <!--                                                     <a href="{% url 'pure_view' i.order.id %}"-->
           <!--                                                        class="btn btn-info btn-xs shadow" title="View">-->
           <!--                                                         <i class="fa fa-eye"></i>-->
           <!--                                                     </a>-->
                                                        
                                                              
                                                              
                                                              
           <!--                                                 </div>-->
           <!--                                             </td>-->
           <td>
                                                          <div class="d-flex flex-wrap gap-1 justify-content-end">
                                                            
                                                        
                                                                   <a href="{% url 'pure_view' i.order.id %}"
                                                                   class="btn btn-info btn-xs shadow" title="View">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                              
                                                            </div>
                                                        </td>

                                    </tr>
                                    {% endfor %}
								</tbody>
							</table>
						    </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--search select start -->
<script>
    function create_custom_dropdowns() {
        $('select').each(function (i, select) {
            if (!$(this).next().hasClass('dropdown-select')) {
                // Build the custom dropdown structure
                $(this).after(
                    '<div class="dropdown-select wide ' + ($(this).attr('class') || '') + '" tabindex="0">' +
                        '<span class="current"></span>' +
                        '<div class="list">' +
                            '<div class="dd-search">' +
                                '<input autocomplete="off" onkeyup="filter(this)" class="dd-searchbox" type="text" placeholder="Search…">' +
                            '</div>' +
                            '<ul></ul>' +
                            '<li class="no-results" style="display:none;">Not found</li>' +
                        '</div>' +
                    '</div>'
                );

                var dropdown = $(this).next();
                var options = $(select).find('option');
                var selected = $(this).find('option:selected');

                dropdown.find('.current').html(selected.data('display-text') || selected.text());

                options.each(function (j, o) {
                    var display = $(o).data('display-text') || '';
                    dropdown.find('ul').append(
                        '<li class="option ' + ($(o).is(':selected') ? 'selected' : '') + '" data-value="' + $(o).val() + '" data-display-text="' + display + '">' + $(o).text() + '</li>'
                    );
                });
            }
        });
    }

    function filter(input) {
        var $dd = $(input).closest('.dropdown-select');
        var val = input.value.toLowerCase();
        var $opts = $dd.find('ul > li.option');

        $opts.each(function () {
            var txt = $(this).text().toLowerCase();
            $(this).toggle(txt.indexOf(val) > -1);
        });

        if ($opts.filter(':visible').length === 0) {
            $dd.find('.no-results').show();
        } else {
            $dd.find('.no-results').hide();
        }
    }

    // Event: Toggle dropdown open/close
    $(document).on('click', '.dropdown-select', function (event) {
        if ($(event.target).hasClass('dd-searchbox')) {
            return;
        }
        $('.dropdown-select').not($(this)).removeClass('open');
        $(this).toggleClass('open');
        if ($(this).hasClass('open')) {
            $(this).find('.option').attr('tabindex', 0);
            $(this).find('.selected').focus();
        } else {
            $(this).find('.option').removeAttr('tabindex');
            $(this).focus();
        }
    });

    // Event: Close when clicking outside
    $(document).on('click', function (event) {
        if ($(event.target).closest('.dropdown-select').length === 0) {
            $('.dropdown-select').removeClass('open');
            $('.dropdown-select .option').removeAttr('tabindex');
        }
        event.stopPropagation();
    });

    // Event: Option click
    $(document).on('click', '.dropdown-select .option', function (event) {
        $(this).closest('.list').find('.selected').removeClass('selected');
        $(this).addClass('selected');
        var text = $(this).data('display-text') || $(this).text();
        $(this).closest('.dropdown-select').find('.current').text(text);
        $(this).closest('.dropdown-select').prev('select').val($(this).data('value')).trigger('change');
    });

    // Event: Keyboard support
    $(document).on('keydown', '.dropdown-select', function (event) {
        var focused_option = $($(this).find('.list .option:focus')[0] || $(this).find('.list .option.selected')[0]);

        if (event.keyCode == 13) { // Enter
            if ($(this).hasClass('open')) {
                focused_option.trigger('click');
            } else {
                $(this).trigger('click');
            }
            return false;
        } else if (event.keyCode == 40) { // Down
            if (!$(this).hasClass('open')) {
                $(this).trigger('click');
            } else {
                focused_option.nextAll(':visible').first().focus();
            }
            return false;
        } else if (event.keyCode == 38) { // Up
            if (!$(this).hasClass('open')) {
                $(this).trigger('click');
            } else {
                focused_option.prevAll(':visible').first().focus();
            }
            return false;
        } else if (event.keyCode == 27) { // Esc
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
            }
            return false;
        }
    });

    $(document).ready(function () {
        create_custom_dropdowns();
    });
</script>
<!--search select end -->
{% endblock %}