{% extends "base.html" %}
{% load static %}

{% block start %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!--date range css start -->
<style>
    .daterangepicker .drp-buttons {
    display: flex !important;
    justify-content: end;
    align-items: center;
    padding: 8px;
}

.daterangepicker .drp-buttons .btn {
    width: auto !important;
    min-width: 80px;
    margin: 0 5px;
}
.daterangepicker select {
  display: inline-block !important;
  width: auto !important;
}
</style>
<!--date range css end -->
<!--search select style start -->
<style>

.input-group{
    flex-wrap:nowrap;
}
@media(max-width:34em){
  .main{
    min-width:150px;
    width:auto;
  }
}
select {
    display: none !important;
}

.dropdown-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #eee;
    /*box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);*/ 
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;

}

.dropdown-select:focus {
    background-color: #fff;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.open {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dropdown-select.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    width: 100%;
}

.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #ddd;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.dropdown-select .dd-search{
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0.5rem;
}

.dropdown-select .dd-searchbox{
  width:100%;
  height:40px;
  padding:0.5rem;
  border:1px solid #999;
  border-color:#999;
  border-radius:4px;
  outline:none;
}
.dropdown-select .dd-searchbox:focus{
  border-color:#222b40;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
}

.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}

.dropdown-select .option.selected {
    font-weight: 600;
    color: #222b40;
}

.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}

.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #666;
}
</style>
<!--search select style end -->
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="main-div">
                <div class="breadcrumb-wrapper breadcrumb-contacts" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="width:30%">
                        <h1>Total Pending</h1>
                    </div>
                    <div style="width:fit-content">
                        <a class="btn btn-primary" id="toggleFormBtn"><i class="fa-solid fa-download" style="margin-right:7px"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        
    <!-- download excel -->
        <!--<div id="reportForm"  style="display:none;">-->
        <!--    <div class="row">-->
        <!--        <div class="col-xl-12 col-lg-12">-->
        <!--            <div class="ec-cat-list card card-default mb-24px">-->
        <!--                <div class="card-body">-->
        <!--                    <div class="row ec-vendor-uploads">-->
        <!--                        <div class="col-lg-12">-->
        <!--                            <div class="ec-vendor-upload-detail">-->
        <!--                                <form class="form row g-3" id="addtaskForm" action="{% url 'download_excel' %}" method="post">-->
        <!--                                    {% csrf_token %}-->
        <!--                                    <div class="col-lg-3">-->
        <!--                                        <label for="inputRemark" class="form-label">From Date</label>-->
        <!--                                        <input type="date" class="form-control slug-title" name="from_date">-->
        <!--                                    </div>-->
                                            
        <!--                                    <div class="col-lg-3">-->
        <!--                                        <label for="inputRemark" class="form-label">To Date</label>-->
        <!--                                        <input type="date" class="form-control slug-title" name="to_date">-->
        <!--                                    </div>-->
                                            
        <!--                                    <div class="col-lg-3">-->
        <!--                                        <label for="client" class="form-label">Select a Client</label>-->
        <!--                                        <select name="client" id="client" class="form-select form-select-solid" style="background-color: #ebebeb4a;" required>-->
        <!--                                            <option value="">Select a Client ...</option>-->
        <!--                                            <option value="ALL">ALL</option>-->
        <!--                                            {% for client in client_data %}-->
        <!--                                                <option value="{{ client.clt_id }}">{{ client.name }}</option>-->
        <!--                                            {% endfor %}-->
        <!--                                        </select>-->
        <!--                                    </div>-->
                                            
        <!--                                    <div class="col-lg-3">-->
        <!--                                        <button type="submit" name="action" value="download" class="btn btn-success">Download</button>-->
        <!--                                        <button type="reset" class="btn btn-secondary">Clear</button>-->
        <!--                                    </div>-->
        <!--                                </form>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->

<!-- Report Form -->
<div id="reportForm" style="display:none;">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="ec-cat-list card card-default mb-24px">
                <div class="card-body">
                    <div class="row ec-vendor-uploads">
                        <div class="col-lg-12">
                            <div class="ec-vendor-upload-detail">
                                <form class="form row g-3" method="post" action="{% url 'download_report' %}">
                                    {% csrf_token %}
                                     <div class="col-lg-4">
                                    <div class="example">
                                        <p class="mb-1">Date Range With Time</p>
                                         <div class="input-group clockpicker">
                                        <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                                        <input type="text" class="form-control input-daterange-timepicker" name="date_range" />
                                    </div>
                                </div>
                                </div>
                                    <!--<div class="col-lg-3">-->
                                    <!--    <label for="inputRemark" class="form-label">From Date</label>-->
                                    <!--    <input type="date" class="form-control slug-title" name="from_date" required>-->
                                    <!--</div>-->

                                    <!--<div class="col-lg-3">-->
                                    <!--    <label for="inputRemark" class="form-label">To Date</label>-->
                                    <!--    <input type="date" class="form-control slug-title" name="to_date" required>-->
                                    <!--</div>-->

                                    <div class="col-lg-4">
                                        <label for="client" class="form-label">Select a Client</label>
                                        <div class="input-group clockpicker">
                                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        <select name="client" id="client" class="form-select form-select-solid" style="background-color: #ebebeb4a;" required>
                                            <option value="">Select a Client ...</option>
                                            <option value="ALL">ALL</option>
                                            {% for client in client_data %}
                                                <option value="{{ client.clt_id }}">{{ client.comp_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    </div>

                                    <div class="col-lg-3 d-flex gap-2">
                                        <!-- Download PDF Button -->
                                        <div><button type="submit" name="action" value="download_pdf" class="btn btn-danger">PDF</button></div>
                                        
                                        <!-- Download Excel Button -->
                                        <div><button type="submit" name="action" value="download_excel" class="btn btn-success">Excel</button></div>
                                        
                                        <div><button type="reset" class="btn btn-secondary">Clear</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <!-- download excel end -->
        

        <div class="col-xl-12 active-p">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-colm" role="tabpanel" aria-labelledby="pills-colm-tab">
                    <div class="card">
                        <div class="card-body px-0">
                            <div class="table-responsive active-projects user-tbl dt-filter">
                                <table id="user-tbl" class="display table">
                                    <thead>
                                        <tr>
                                            <th>Client Name</th>
                                            <th>Product</th>
                                            <th>Total Amount</th>
                                            <th>Paid Amount</th>
                                            <th>Due Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in pending_data %}
                                            <tr>
                                                <td>{{ i.client_name }}</td>
                                                <td>{{ i.product }}</td>
                                                <td>{{ i.total_amount }}</td>
                                                <td>{{ i.paid_amount }}</td>
                                                <td>{{ i.due_amount }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('toggleFormBtn').addEventListener('click', function() {
    const form = document.getElementById('reportForm');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
});

</script>
<!--filter script start -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
(function($) {
    "use strict";
    $('.input-daterange-timepicker').attr('placeholder', 'MM/DD/YYYY - MM/DD/YYYY');

    $('.input-daterange-timepicker').daterangepicker({
        autoUpdateInput: false, // Prevent default date from showing
        timePicker: true,
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        locale: {
            format: 'MM/DD/YYYY h:mm A',
            cancelLabel: 'Clear'
        },
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });

    // Update the input manually on apply
    $('.input-daterange-timepicker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY h:mm A') + ' - ' + picker.endDate.format('MM/DD/YYYY h:mm A'));
    });

    // Clear input on cancel
    $('.input-daterange-timepicker').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

})(jQuery);
</script>
<!--filter script end -->

<!--search select start -->
<script>
    function create_custom_dropdowns() {
        $('select').each(function (i, select) {
            if (!$(this).next().hasClass('dropdown-select')) {
                // Build the custom dropdown structure
                $(this).after(
                    '<div class="dropdown-select wide ' + ($(this).attr('class') || '') + '" tabindex="0">' +
                        '<span class="current"></span>' +
                        '<div class="list">' +
                            '<div class="dd-search">' +
                                '<input autocomplete="off" onkeyup="filter(this)" class="dd-searchbox" type="text" placeholder="Search…">' +
                            '</div>' +
                            '<ul></ul>' +
                            '<li class="no-results" style="display:none;">Not found</li>' +
                        '</div>' +
                    '</div>'
                );

                var dropdown = $(this).next();
                var options = $(select).find('option');
                var selected = $(this).find('option:selected');

                dropdown.find('.current').html(selected.data('display-text') || selected.text());

                options.each(function (j, o) {
                    var display = $(o).data('display-text') || '';
                    dropdown.find('ul').append(
                        '<li class="option ' + ($(o).is(':selected') ? 'selected' : '') + '" data-value="' + $(o).val() + '" data-display-text="' + display + '">' + $(o).text() + '</li>'
                    );
                });
            }
        });
    }

    function filter(input) {
        var $dd = $(input).closest('.dropdown-select');
        var val = input.value.toLowerCase();
        var $opts = $dd.find('ul > li.option');

        $opts.each(function () {
            var txt = $(this).text().toLowerCase();
            $(this).toggle(txt.indexOf(val) > -1);
        });

        if ($opts.filter(':visible').length === 0) {
            $dd.find('.no-results').show();
        } else {
            $dd.find('.no-results').hide();
        }
    }

    // Event: Toggle dropdown open/close
    $(document).on('click', '.dropdown-select', function (event) {
        if ($(event.target).hasClass('dd-searchbox')) {
            return;
        }
        $('.dropdown-select').not($(this)).removeClass('open');
        $(this).toggleClass('open');
        if ($(this).hasClass('open')) {
            $(this).find('.option').attr('tabindex', 0);
            $(this).find('.selected').focus();
        } else {
            $(this).find('.option').removeAttr('tabindex');
            $(this).focus();
        }
    });

    // Event: Close when clicking outside
    $(document).on('click', function (event) {
        if ($(event.target).closest('.dropdown-select').length === 0) {
            $('.dropdown-select').removeClass('open');
            $('.dropdown-select .option').removeAttr('tabindex');
        }
        event.stopPropagation();
    });

    // Event: Option click
    $(document).on('click', '.dropdown-select .option', function (event) {
        $(this).closest('.list').find('.selected').removeClass('selected');
        $(this).addClass('selected');
        var text = $(this).data('display-text') || $(this).text();
        $(this).closest('.dropdown-select').find('.current').text(text);
        $(this).closest('.dropdown-select').prev('select').val($(this).data('value')).trigger('change');
    });

    // Event: Keyboard support
    $(document).on('keydown', '.dropdown-select', function (event) {
        var focused_option = $($(this).find('.list .option:focus')[0] || $(this).find('.list .option.selected')[0]);

        if (event.keyCode == 13) { // Enter
            if ($(this).hasClass('open')) {
                focused_option.trigger('click');
            } else {
                $(this).trigger('click');
            }
            return false;
        } else if (event.keyCode == 40) { // Down
            if (!$(this).hasClass('open')) {
                $(this).trigger('click');
            } else {
                focused_option.nextAll(':visible').first().focus();
            }
            return false;
        } else if (event.keyCode == 38) { // Up
            if (!$(this).hasClass('open')) {
                $(this).trigger('click');
            } else {
                focused_option.prevAll(':visible').first().focus();
            }
            return false;
        } else if (event.keyCode == 27) { // Esc
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
            }
            return false;
        }
    });

    $(document).ready(function () {
        create_custom_dropdowns();
    });
</script>
<!--search select end -->
{% endblock %}
